.banner {
background: url('../Assets/banner21.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: calc(100% - 1px);
height: 450px;
}
.tagline{

}
.bannerContainer{
height: 200px;
display: flex;
flex-direction: column;
padding-top: 50px;
justify-content: space-around;
text-align: center;
}

.carouselItem{
margin-top: 40px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
text-decoration: none;
color: white;
text-transform: capitalize;
}
.carousel{
display: flex;
align-items: center;
}
.row{
    display: flex;
    flex-direction: column;
}